.shopping__cart {
  background: #eeeeee none repeat scroll 0 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: block;
  position: fixed;
  transition: all 0.25s ease 0s;
}
.shp__pro__thumb img {
  width: 60px;
  height: 60px;
}
.shp__pro__details {
  min-width: 71%;
}
.shp__pro__details h2 {
  border-top-width: 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  padding: 0;
  text-transform: none;
}
.shp__single__product {
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
  padding-top: 21px;
}
.shopping__cart__inner {
  padding: 10px;
  height: 100%;
}
.shp__single__product {
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
  padding-top: 21px;
}
.shp__pro__thumb {
  margin-right: 20px;
}
.shp__pro__details .shp__price {
  color: #c43b68;
  display: block;
}
.remove__btn {
  text-align: right;
  width: 20px;
}
.remove__btn a {
  color: #6c757d;
}
.shoping__total {
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}
.shoping__total .subtotal {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}
.shoping__total .total__price {
  color: #c43b68;
  float: right;
}
.shopping__btn li a {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  font-size: 14px;
  height: 57px;
  line-height: 57px;
  margin-bottom: 15px;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  transition: all 0.5s ease 0s;
  width: 100%;
  display: block;
}
.shopping__btn .shp__checkout a {
  background-color: #000;
  color: #fff;
}
